# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
backend/.venv/
*.egg

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Env
.env
*.local

# Build
*.tgz

# Alembic
backend/alembic/versions/*.py
!backend/alembic/versions/.gitkeep
